.App {
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
  margin: 1vw;
}

.App .logo {
  width: 13vw;
}
.Screenshots {
  margin: 2vw;
  display: flex;
  flex-direction: row;
}
.Screenshots img {
  object-fit: cover;
  height: 26vw;
  width: 12vw;

  margin: 1vw;
  -webkit-box-shadow: 0px 0px 16px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 16px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 16px 1px rgba(0, 0, 0, 0.2);
}
.Badge img {
  height: 2vw;
  margin: 0.5vw;
}
